@model ControleAbastecimento.Areas.Admin.Models.CadVeiculo

@{
    ViewBag.Title = "Consulta Veiculo";
}
<br/>
<h2>Consulta de Veiculo</h2>

<div>
    <h4>Dados do Veiculo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Ano)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ano)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Marca)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Marca)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Modelo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Modelo)
        </dd>

    </dl>
</div>
<a href="@Url.Action("Alterar", "Edit", new { id = Model.Placa })" class="btn btn-primary">
    <span class="fa fa-plus"></span>
    Alterar
</a>
<a href="@Url.Action("Index")" class="btn btn-primary">
    <span class="fa fa-plus"></span>
    Voltar
</a>
</p>
@*<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Placa }) |
    @Html.ActionLink("Back to List", "Index")
</p>*@
