@model ControleAbastecimento.Areas.Admin.Models.CadUsuario

@{
    ViewBag.Title = "Menu Inicial";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Controle de Abastecimento de Veiculo</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    @*<br/>
    <h2>Menu Inicial</h2>*@
   
        <img src="~/Content/Imagens/ControleAbastecimenot.jpg" height="60%" width="60%"/>
        @*<img src="~/Content/Imagens/ControleAbastecimento.jpg" height="90%" width="90%" />*@
   
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</body>
</html>
