@model ControleAbastecimento.Areas.Admin.Models.CadPosto

@{
    ViewBag.Title = "Excluir Posto de Abastecimento";
}

<h2>Exclusão de Posto de Abastecimento</h2>

<h3>Deseja realmente excluir esse usuario?</h3>
<div>
    <h4>Dados do Posto</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Endereco)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Endereco)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bairro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bairro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cidade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cidade)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bandeira)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bandeira)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="form-group">
            <div class="col-md-offset-1 col-md-1">
                <input type="submit" value="Excluir" class="btn btn-primary" />
            </div>
        </div>
    }
</div>
<div class="col-md-offset-0 col-md-1">
    @*@Html.ActionLink("Voltar", "Index")*@
    <a href="@Url.Action("Index")" class="btn btn-primary">
        <span class="fa fa-plus"></span>
        Voltar
    </a>
</div>
</br>
</br>



        @*<div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>*@
